.doacao {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f0f4f7; /* Fundo mais suave */
    padding: 20px;

    p {
        font-size: 24px;
        text-align: center;
        width: 90%;
        color: #333;
    }

    form {
        border: solid #005695 3px;
        border-radius: 20px;
        height: 70vh;
        width: 30%; /* Ajustei para ficar mais centrado */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

        .logoLivroAberto {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            gap: 10px;
            text-align: center;
            color: #005695;

            img {
                width: 40px;
                height: auto;
            }

            h2 {
                font-size: 20px;
                color: #005695;
            }
        }

        input {
            width: 100%;
            max-width: 400px;
            height: 5vh;
            border: solid #005695;
            border-radius: 15px;
            padding-left: 20px;
            font-size: 16px;
            margin-bottom: 10px;
            transition: border-color 0.3s ease;

            &::placeholder {
                color: #888;
            }

            &:focus {
                border-color: #0085c3;
                outline: none;
            }
        }

        .buttonDoar {
            margin-top: 10px;
            width: 50%;
            height: 5vh;
            font-size: 20px;
            background-color: #005695;
            color: #FFF;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }

        .buttonDoar:hover {
            background-color: #0085c3;
            transform: translateY(-5px);
        }

        .buttonDoar:active {
            transform: translateY(2px);
        }
    }
}

@media (max-width: 780px) {
    .doacao {
        height: 65vh;
        p {
            font-size: 18px;
        }

        form {
            width: 90%;
            height: 50vh;
            padding: 20px;

            .logoLivroAberto {
                flex-direction: column;
                gap: 10px;

                img {
                    width: 50px;
                }

                h2 {
                    font-size: 18px;
                }
            }

            input {
                width: 100%;
                font-size: 16px;
            }

            .buttonDoar {
                font-size: 18px;
                height: 5vh;
                padding: 0;
                margin-top: 10px;
                width: 50%;
            }
        }
    }
}

@media (max-width: 400px) {
    .doacao {
        height: 65vh;

        p {
            font-size: 16px;
        }

        form {
            width: 90%;

            .logoLivroAberto {
                img {
                    width: 40px;
                }

                h2 {
                    font-size: 16px;
                }
            }

            input {
                width: 100%;
                font-size: 14px;
            }

            .buttonDoar {
                margin-top: 10px;
                width: 50%;
                font-size: 16px;
                padding: 0;
            }
        }
    }
}
