.HeaderBox {
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, #001b2f, #005695);
  color: #ffffff;

  ul {
    list-style: none;
    display: flex;
    font-size: 14px;
    width: 32vw;
    // border: solid red;
    list-style: none;
    li{
      color:#ffffff;
      font-size: 1.4rem;
    }
  }

  input {
    width: 24vw;
    height: 5vh;
    background-color: transparent;
    color: #ffffff ;
    border: solid #ffffff ;
    border-radius: 10px;
    
    &::placeholder {
    color: white;
    font-size: 10px;
    }
  }

}

.DivBox {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  
  img {
    width: 6vw;
  }
  
  h2 {
    font-size: 2rem;
    height: 100%;
    align-content: center;
  }
}

ul {
  border: 2px solid;
  display: flex;
  justify-content: space-evenly;
}