.firstSection {
background-color: #005695;
display: flex;
align-items: center;
justify-content: space-around;
color: #ffffff;
height: 14vh;
    nav {
    display: flex;
    width: 50%;
    justify-content: space-evenly;

     img{
    width: 10%;
    height: 10%;
    }
    }
}

.secondSection {
background-color:#232020 ;
height: 10vh;
display: flex;
justify-content: center;
align-items: center;
color: #ffffff ;
}


@media (max-width: 780px) {
    .sociaisFooter{
        flex-direction: column;
        justify-content: space-evenly;

        nav {
            width: 60%;
        }
    }

    .copyright {
        font-size: 12px;


        p {
            width: 70%;
            text-align:center;
        
        }
    }
}